{% extends 'base.html' %}
{% block body %}
<div id='body'>
  Please fill out this pet profile:
  <form method='POST' action="{{ url_for('edit_profile') }}">
    {{ form.csrf_token }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      <tr>
        <td>{{ field.label }}</td><td>{{ field }}</td>
        {% if field.errors %}
          <td>{{ field.errors[0] }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    <input type='submit' value='Submit' />
  </form>
</div>
{% endblock %}
