{% extends 'base.html' %}
{% block body %}
<div id='body'>
  <h2>Please fill out this pet profile:</h2>
  <form method='POST' action="{{ url_for('index') }}">
  {{ form.csrf_token() }}
  <table>
    {% for field in form if field.widget.input_type != 'hidden' %}
      <tr>
        <td>{{ field.label }}</td><td>{{ field }}</td>
        {% if field.errors %}
          <td>{{ field.errors[0] }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
    <input type='submit' value='Submit' />
  </form>
</div>
{% endblock %}
